body{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    color:blueviolet;
    font-size: 25px;
    background: #B6DCC7;
}
h1{
    font-size: 50px;
}
.btn{
    height: 30px;
    width: 100px;
    color: #8030e2;
    border-color: transparent;
    border-radius: 50px;
    background: #967BB6;
}
.btn:houver{
    cursor: pointer;
    background-color: #270F43
}

.divResultado{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.textoErro{
    color: #2c0404;
    font-size: 18px;
    font-weight: 500;
}